.buy {
    position: relative;
    overflow-x: hidden;
    
    &__content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px 109px;
        text-align: center;
    }

    &__text {
        font-family: 'Helvetica';
        font-size: px-to-em(13);
        line-height: 115%;
        color: #5C5C5E;
       
    }

    &__button {
        padding: 22px 111px;
        font-family: 'Helvetica';
        font-weight: 700;
        font-size: px-to-em(16);
        line-height: 112%;
        color: #F6F4F5;
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        text-transform: uppercase;
    }

    &__price {
        font-family: 'Helvetica';
        font-weight: 700;
        font-size: px-to-em(16);
        line-height: 112%;
        color: #5C5C5E;
        padding: 21px 105px;
        border: 1px solid transparent;
        border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
        display: inline-block;
        margin-bottom: 10px;
    }

    
    &__img {
        max-width: 100%;
        object-fit: cover;
        display: block;
        margin: 0 auto 60px;
    }

    &__bg {
        font-family: 'Helvetica';
        font-weight: 700;
        font-size: px-to-em(370);
        line-height: 120%;
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        opacity: 0.1;
        position: absolute;
        z-index: -1;
        animation: line-text 6s linear 1s infinite;
    }

    @keyframes line-text {
        from {
            transform: translateX(115%);
            transform-origin: left center;
        }
        to {
            transform: translateX(-115%);
            transform-origin: right center;
        }
    }

    @media screen and (max-width: 430px) {
        &__bg {
            font-size: px-to-em(330);
        }

        &__img {
            max-width: 80%;
            padding-top: 50px;
           
        }

        &__content {
            padding-bottom: 80px;
        }
    }

  
}
