


include ../blocks/header/header.pug
include ../blocks/main/main.pug
include ../blocks/prod/prod.pug
include ../blocks/tabs/tabs.pug
include ../blocks/cards/cards.pug
include ../blocks/title/title.pug
include ../blocks/buy/buy.pug
include ../blocks/kit/kit.pug
include ../blocks/promo/promo.pug
include ../blocks/more/more.pug
include ../blocks/form/form.pug
include ../blocks/footer/footer.pug
