mixin kit(modifier)
  section.kit&attributes(attributes)
    .kit__content
      +title('IN THE BOX')
      .kit__box 
        .kit__item.kit__item--one 
          img(src="img/kit-1.jpg" alt="Экипировка VR игрока").kit__img
          p.kit__text VR Headset
        .kit__item 
          img(src="img/kit-2.jpg" alt="Экипировка VR игрока").kit__img
          p.kit__text Two Touch Controllers & AA Batteries
        .kit__item 
          p.kit__textone What's included
        .kit__item 
          img(src="img/kit-3.jpg" alt="Экипировка VR игрока").kit__img
          p.kit__text Charging Cable & Power Adapter
        .kit__item 
          img(src="img/kit-4.jpg" alt="Экипировка VR игрока").kit__img
          p.kit__text Glasses Spacer