mixin main(modifier)
  section.main&attributes(attributes)
    .main__content 
      .main__box 
        h1.main__title Meta Quest 2
        h2.main__subtitle Get an Elite Strap free
        p.main__text For a limited time only, save $59.99 USD. Offer ends 1/19/23
        button(type="button").main__button BUY NOW
        span.main__price 399,99 USD
        p.main__text Meta Quest 2 is for ages 13+