.more {
    &__content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px 100px;
       
    }

    &__textone {
        padding-top: 10px;
        font-family: 'Helvetica';
        font-size: px-to-em(36);
        line-height: 113%;
        text-transform: uppercase;
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 30px;
    }

    &__img {
        max-width: 100%;
        display: block;
        object-fit: cover;
        margin-bottom: 10px;
    }

    &__slider {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 20px;
    }

    &__items {
        max-width: 100%;
    }

    &__item {
        border: 1px solid;
        border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-family: 'Helvetica';
        font-size: px-to-em(24);
        line-height: 116%;
        color: #070707;
        margin-bottom: 10px;
        min-height: 56px;
    }

    &__text {
        font-family: 'Helvetica';
        font-size: px-to-em(16);
        line-height: 112%;
        color: #5C5C5E;
        margin-bottom: 42px;
        margin-top: auto;
    }

    &__price {
        font-family: 'Helvetica';
        font-weight: 700;
        font-size: px-to-em(16);
        line-height: 112%;
        color: #070707;
        margin-top: auto;
    }

    &__btn {
        font-family: 'Helvetica';
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        border: 1px solid transparent;
        border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
        padding: 6px 70px;
        margin-top: 20px;
    }

    &__button-prev,
    &__button-next {
        cursor: pointer;
        svg {
            width: 30px;
            height: 30px;
        }
    }

    .slick-dotted > .slick-dots {
        display: flex;
        margin-top: 30px;
        justify-content: center;
        gap: 0 20px;
    }
    li > button {
        font-size: 0px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #5C5C5E;
    }

    .slick-dots .slick-active button {
        width: 12px;
        height: 12px;
        background-color: #BC10D8;
    }

    

    &__button-prev {
        transform: rotate(180deg);
    }

    @media screen and (max-width: 1280px) {
        &__items {
            width: 900px;
            
        }
    }

    @media screen and (max-width: 1000px) {
        
        &__items {
            width: 600px;
            text-align: center;
        }

        &__content {
            padding-bottom: 80px;
        }
    }

    @media screen and (max-width: 705px) {
        &__button-prev,
        &__button-next {
            svg  {
                display: none;
            }
        }
    }

    @media screen and (max-width: 607px) {
        &__items {
            width: 300px;
        }
    }
    
    @media screen and (max-width: 360px) {
        &__textone {
            font-size: px-to-em(32);
        }
    }
  
}