.footer {
    border-bottom: 1px solid #CACAD6;
    border-top: 1px solid #CACAD6;
    padding: 30px 0;
    margin-bottom: 44px;
    &__content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    &__menu {
        display: flex;
        gap: 0 20px;
    }

    &__link {
        font-family: 'Helvetica';
        font-size: px-to-em(16);
        line-height: 137%;
        color: #5C5C5E;
    }

    &__logo {
        justify-self: center;
    }

    &__social {
        display: flex;
        gap: 20px;
        justify-self: end;
    }

    &__link-item:hover {
        transform: scale(1.2);
        transition: .2s;
    }

    &__link:hover {
        transform: scale(1.1);
        font-weight: 600;
        color: #000000;
        transition: .2s;
    }

    @media screen and (max-width: 1124px) {
        &__nav {
            display: flex;
            justify-content: space-between;
            gap: 50px;
            flex-wrap: wrap;
        }
    }

    @media screen and (max-width: 425px) {
        &__menu {
            gap: 0 10px;
        }

        &__link {
            font-size: px-to-em(12);
        }
    }
  
}
