mixin tabs(modifier)
  .tabs&attributes(attributes)
    .tabs__info.tabs__info--active(id="tab-1")
      img(src="img/player.jpg" alt="3D очки").tabs__image
      .tabs__sub 
        h3.tabs__subtitle Graphics
        p.tabs__subtext With 1832 x 1920 pixels per eye, everything from multiplayer games and productivity apps to 360 0 videos look beyond incredible
        .tabs__video 
          a(href="https://www.youtube.com/watch?v=2E-_ku905Tk&t=57s" class="tube").tabs__link
            include img/play.svg 
          span.tabs__small-text Watch the video
    .tabs__info(id="tab-2")
      img(src="img/gadget.jpg" alt="Шлем 3D" id="tab-2").tabs__image
      .tabs__sub 
        h3.tabs__subtitle Controls
        p.tabs__subtext Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur molestias quasi dignissimos cum obcaecati ab sint doloremque magni velit porro eveniet voluptatem, amet officia voluptatum eligendi animi quae.
        .tabs__video 
          a(href="https://www.youtube.com/watch?v=2E-_ku905Tk&t=57s" class="tube").tabs__link
            include img/play.svg 
          span.tabs__small-text Watch the video
    .tabs__info(id="tab-3")
      img(src="img/future.jpg" alt="Шлем Oculus").tabs__image
      .tabs__sub 
        h3.tabs__subtitle Processor
        p.tabs__subtext With 1832 x 1920 pixels per eye, everything from multiplayer games and productivity apps to 360 0 videos look beyond incredible
        .tabs__video 
          a(href="https://www.youtube.com/watch?v=2E-_ku905Tk&t=57s" class="tube").tabs__link
            include img/play.svg 
          span.tabs__small-text Watch the video
    .tabs__info(id="tab-4")
      img(src="img/game.jpg" alt="Игра 3D").tabs__image
      .tabs__sub 
        h3.tabs__subtitle Set up your play area
        p.tabs__subtext Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur molestias quasi dignissimos cum obcaecati ab sint doloremque magni velit porro eveniet voluptatem, amet officia voluptatum eligendi animi quae.
        .tabs__video 
          a(href="https://www.youtube.com/watch?v=2E-_ku905Tk&t=57s" class="tube").tabs__link
            include img/play.svg 
          span.tabs__small-text Watch the video
    .tabs__info(id="tab-5")
      img(src="img/vr.jpg" alt="3D очки").tabs__image
      .tabs__sub 
        h3.tabs__subtitle Gardian activity
        p.tabs__subtext With 1832 x 1920 pixels per eye, everything from multiplayer games and productivity apps to 360 0 videos look beyond incredible
        .tabs__video 
          a(href="https://www.youtube.com/watch?v=2E-_ku905Tk&t=57s" class="tube").tabs__link
            include img/play.svg 
          span.tabs__small-text Watch the video
    .tabs__info(id="tab-6")
      img(src="img/quest.jpg" alt="Квест игра" id="tab-6").tabs__image
      .tabs__sub 
        h3.tabs__subtitle Headset casting
        p.tabs__subtext Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur molestias quasi dignissimos cum obcaecati ab sint doloremque magni velit porro eveniet voluptatem, amet officia voluptatum eligendi animi quae.
        .tabs__video 
          a(href="https://www.youtube.com/watch?v=2E-_ku905Tk&t=57s" class="tube").tabs__link
            include img/play.svg 
          span.tabs__small-text Watch the video