mixin prod(title)
  section.prod&attributes(attributes)
    .prod__content 
      .prod__titles
        h2.prod__title PRODUCT FEATURES
        p.prod__text Easy to set up and safe to use
      .prod__tabs
        .prod__tab 
          button(type="button" data-tab="tab-1").prod__btn 01 Graphics
          button(type="button" data-tab="tab-2").prod__btn 02 Controls
          button(type="button" data-tab="tab-3").prod__btn 03 Processor
          button(type="button" data-tab="tab-4").prod__btn 04 Set up your play area
          button(type="button" data-tab="tab-5").prod__btn 05 Gardian activity
          button(type="button" data-tab="tab-6").prod__btn 06 Headset casting
        +tabs