mixin popup(modifier)
  .popup.popup--hide 
    .popup__content
      .popup__titles 
        h2.popup__title Get news and updates
        .popup__close
          include img/closed.svg
      .popup__contacts 
        form.popup__form 
          input(type="text" placeholder="E-mail").popup__input
          button(type="submit").popup__btn GO
      a(href="mailto:oculusshop@gmail.com").popup__email oculusshop@gmail.com
    .popup__background